{% extends 'admin/master.html' %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1 id="inventory-management-web-application">Donations Inventory</h1>
    <p>Manage available donations</p>
    <p>
      
    </p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2 id="views">Manage Inventory</h2>
 
     <a href="/product/"><button>Products</button></a>
    <a href="/location/"><button>Locations</button></a>
      <a href="/productmovement/"><button>Transportation</button></a>   
      <a href="/productstock/"><button>Stock</button></a>
    
  </div>
</div>

{% endblock %}